@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Signika:wght@300&display=swap');

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("https://wallpapercave.com/wp/wp1914163.jpg") ;
}
#sw{
    width: 25%;
    height: 15%;
    display: block;
    margin: auto;
}

img{
    display: block;
    margin: auto;
}
/* header{
    position: fixed;
} */
#fond{
    /* background-color: aliceblue; */
    width: 80%;
    display: block;
    margin: auto;
}

h1{
    color:black;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif;
    width: 15%;
    
}

#imgp{
    float: left;

}
#ficheperso{
    background-color: white;
    display: block;
    margin: auto;
    width: 80%;

}

ul{
    display: block;
    margin-left: auto;
}